<!doctype html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/png" href="./img/logo-icon.png">
	<title>Skings</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="profile.css">
	<link rel="stylesheet" href="main.css">

	<!-- scripts -->
	<script src="https://kit.fontawesome.com/1d143189b2.js" crossorigin="anonymous"></script>
</head>

<body>
	<!-- Fake Header Todos HTML-->
	<div class="container-fluid px-md-5 pt-4 pt-md-5">
		<div class="row justify-content-between">
			<div class="col-md-8 order-md-last">
				<div class="row">
					<!-- Title -->
					<div class="col-md-6 text-center">
						<a class="navbar-brand" th:href="@{/}"> SKINGS
							<small class="text-dark">
								Ganar, Ganar y Ganar.
							</small>
						</a>
					</div>
					<!-- End of Title -->
					<!-- Search -->
					<!--					<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">-->
					<!--						<select class="custom-select" id="inputGroupSelect01">-->
					<!--							<option selected>Search Profile ...</option>-->
					<!--							<option value="1">One</option>-->
					<!--							<option value="2">Two</option>-->
					<!--							<option value="3">Three</option>-->
					<!--						</select>-->
					<!--					</div>-->

					<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
						<select class="custom-select" id="inputGroupSelect01">
							<option selected>Search Profile ...</option>
							<option th:each="listaName : ${listaNames}" th:value="${listaName.name}"
								th:text="${listaName.name}">
							</option>
						</select>
					</div>

					<!--					<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">-->
					<!--						<form class="searchform order-lg-last">-->
					<!--							<div class="form-group d-flex">-->
					<!--								<input type="text" class="form-control pl-3" placeholder="Search Profile ..."></input>-->
					<!--								<button type="submit" placeholder="" class="form-control search">-->
					<!--									<span class="fas fa-search text-dark"></span>-->
					<!--								</button>-->
					<!--							</div>-->
					<!--							<ul id="search-results"></ul>-->
					<!--						</form>-->
					<!--					</div>-->
					<!-- End of Search -->
				</div>
			</div>

			<!-- Redes Sociales -->
			<div class="col-md-4 d-flex">
				<div class="social-media">
					<p class="mb-0 d-flex">
						<!-- 
                        <a href="#" class="d-flex align-items-center justify-content-center" >
                            <span class="fab fa-facebook">
                                <i class="sr-only">Facebook</i>
                            </span>
                        </a>
                        -->
						<!-- -->
						<a target="_blank" href="https://twitter.com/OskarasStankev1"
							class="d-flex align-items-center justify-content-center">
							<span class="fab fa-twitter">
								<i class="sr-only">Twitter</i>
							</span>
						</a>
						<!-- 
                        <a href="#" class="d-flex align-items-center justify-content-center" >
                            <span class="fab fa-instagram">
                                <i class="sr-only">Instagram</i>
                            </span>
                        </a>
                        -->
					</p>
				</div>
			</div>
			<!-- End of Redes Sociales -->
		</div>
	</div>
	<!-- End Fake Header Todos HTML-->

	<!-- NAVBar Todos HTML-->
	<nav class="navbar navbar-expand-lg navbar-dark main-navbar bg-dark main-navbar-light" id="a-navbar">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-nav"
				aria-controls="my-nav" aria-expanded="false" aria-label="toggle-navigation">
				<span class="fa fa-bars">Menu</span>
			</button>
			<div class="collapse navbar-collapse" id="my-nav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a th:href="@{/}" class="nav-link">Home</a>
					</li>
					<!-- -->
					<li class="nav-item">
						<a th:href="@{/index}" class="nav-link">WebSite</a>
					</li>
					<!-- -->
					<li class="nav-item">
						<a th:href="@{/FAQ}" class="nav-link">FAQ</a>
					</li>
				</ul>
			</div>
			<div>
				<ul class="navbar-nav">
					<li class="nav-item align-right">
						<a th:href="@{/payment}" class="nav-link"><img id="payment-img"
								src="./img/payment/payment_4.png" alt="Donation"></a>
					</li>
					<li class="nav-item align-right" hidden>
						<a th:href="@{/profile}" class="nav-link">Profile</a>
					</li>
					<li th:if="${user != null}" class="nav-item align-right">
						<!-- El usuario existe -->
						<a th:href="@{/logout}" class="nav-link">Logout</a>
					</li>

					<li th:if="${user == null}" class="nav-item align-right">
						<!-- El usuario no existe -->
						<a th:href="@{/login}" class="nav-link">Iniciar sesion</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End of NAVBar Todos HTML-->

	<!-- Profile Container -->
	<div class="profile-container">
		<div class="row py-5 px-4">
			<div class="col-xl-10 col-md-10 col-sm-10 mx-auto">
				<!-- Aviso -->

				<div th:switch="${result}"
					th:classappend="${result != null} ? 'alert alert-primary fade show disposse' : ''" role="alert">
					<div th:case="'submit'" class="submit">
						<span>The invoice will be sent to you by post.</span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div th:case="'cancel'" class="submit">
						<span>You have cancelled the donation.</span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<!-- End Aviso -->
				<div class="bg-white shadow rounded overflow-hidden">
					<!-- Profile -->
					<div class="px-4 pt-0 pb-4 bg-dark">
						<div class="media align-items-end profile-header">
							<div class="profile mr-3">
								<img src="https://thecsgoboosters.weebly.com/uploads/6/0/5/3/60532531/s498439253110013415_p5_i2_w1920.jpeg"
									alt="..." width="250" class="rounded mb-2 img-thumbnail">
							</div>
							<div class="media-body mb-5 text-white">
								<h4 th:text="${user.name}" class="mt-0 mb-0">Nick</h4>
								<p th:text="${user.puntos} + ' puntos'" class="small mb-4"> Puntos</p>
							</div>
						</div>
					</div>
					<!-- End Profile -->

					<!-- Datos -->
					<div class="bg-light p-4 d-flex justify-content-end text-center">
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								<form id="formEliminar" th:action="@{/eliminarUsuario}" method="post">
									<button id="eliminarBtn" class="btn btn-primary btn-dark">Eliminar usuario</button>
								</form>
							</li>
							<li class="list-inline-item">
								<h5 th:text="${user.inventario.size()}" class="font-weight-bold mb-0 d-block">Numero
									Cantidad de armas</h5><small class="text-muted"> <i
										class="fa fa-picture-o mr-1"></i>Cantidad de armas</small>
							</li>
							<li class="list-inline-item">
								<h5 th:text="${user.cajasAbiertas}" class="font-weight-bold mb-0 d-block">Cantidad de
									cajas abiertas</h5><small class="text-muted"> <i
										class="fa fa-user-circle-o mr-1"></i>Cajas abiertas</small>
							</li>
						</ul>
					</div>
					<!-- Datos -->

					<div class="py-4 px-4">
						<!-- Inventario -->
						<div class="d-flex align-items-center justify-content-between mb-3">
							<h5 class="mb-0">Inventory Guns</h5>
						</div>
						<div class="row">
							<div th:each="skin: ${listaSkins}" class="col-lg-2 mb-2 pr-lg-1">
								<p th:text="${skin.nombre}"></p><img th:src="@{'/img/skins/'+ ${skin.nombre} +'.png'}"
									alt="" class="img-fluid rounded shadow-sm">
							</div>
						</div>
						<!-- Inventario -->

						<!-- Añadir un paginator -->
						<!-- End Añadir un paginator -->

						<!-- Valoraciones -->
						<!-- <div class="py-4">
							<h5 class="mb-3">Valoraciones</h5>
							<div class="p-4 bg-light rounded shadow-sm">
								<p class="font-italic mb-0">Mensajes de la gente.</p>
								<ul class="list-inline small text-muted mt-3 mb-0">
									<li class="list-inline-item"><i class="fa fa-comment-o mr-2"></i>Nombre del otro
										usuario
									</li>
									<li class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>Si esta o no
										verificado
									</li>
								</ul>
							</div>
						</div> -->
						<!-- End Valoraciones -->
					</div>
				</div><!-- End profile widget -->
			</div>
		</div>
	</div>
	<!-- Profile Container -->

	<!-- Footer Todos HTML-->
	<div class="end-container row">
		<div class="col-xl 6">
			<div class="certifications-container">
				<div class="correo">
					<span><img src="./img/logo-icon.png" alt="Descripción de la imagen">sKings.lt © 2023</span>
					<p><br>You can get your favourite skins at the best prices.
						<br>All trades are done automatically using Steam bots.
						<br>Washington D.C (400521) 4 White House, King, Lost cypher.
					</p>

				</div>
			</div>
		</div>
		<div class="col-xl 6">
			<div class="infos-container">
				<div class="correo">
					<span>210146@iessierradeguara.com </span>
				</div>
				<div class="movil">
					<span>670180319 </span>
				</div>
				<div class="FAQ">
					<a th:href="@{/FAQ}"><span> FAQ </span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Todos HTML-->
	<!-- Aviso -->
	<div th:switch="${result}" th:classappend="${result != null} ? 'alert alert-primary fade show disposse' : ''"
		role="alert">
		<p th:case="'submit'">This is a primary alert—check it out!</p>
		<p th:case="'cancel'">You canceled the donation.</p>
	</div>
	<!-- End Aviso -->

	<!-- Boostrap -->
	<!-- Modal Perfil -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Profile Editor</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Right you just can change your Nickname.
				</div>
				<div class="container-form">
					<form class="form">
						<div class="conatainer-icon">
							<span>Change Icon -> will coming soon..</span>
						</div>
						<div class="conatainer-nickname">
							<span>New Nickname:</span>
							<input type="text" id="newNickname" name="nickname">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end Modal Perfil -->
	<!-- end Boostrap -->

	<!-- Scripts -->



	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>